<div>
    <div>
        <h3>Nouvel article</h3>
    </div>
    <div class="add-form">
        <form (ngSubmit)="onSubmit()">
            <div class="first">
                <div class="category">
                    <label for="">Catégorie :</label>
                    <select  name="category" [(ngModel)]="selectedCategory">
                        <option *ngFor="let category of categories" [ngValue]="category.id">
                            {{ category.title }}
                        </option>
                    </select>
                </div>
                
                <div class="title">
                    <label for="">Titre :</label>
                    <input type="text" name="title" [(ngModel)]="article.title">
                </div>

            </div>
             
            <div class="second">
                <div class="summary">
                    <label for="">Résumé :</label>
                    <textarea type="text" name="summary" [(ngModel)]="article.summary"></textarea>
                </div>
    
                <div class="description">
                    <label for="">Description :</label>
                    <textarea type="text" name="desc" [(ngModel)]="article.description"></textarea>
                </div>
            </div>

            <div class="third">
                <div class="env">
                    <label for="">Environnement :</label>
                    <input type="text" name="env" [(ngModel)]="article.environment">
                </div>
    
                <div class="errorMsg">
                    <label for="">Message d'erreur :</label>
                    <input type="text" name="errorMsg" [(ngModel)]="article.error_message">
                </div>
                <div class="num">
                    <label for="">Numéro de ticket :</label>
                    <input type="text" name="num" [(ngModel)]="article.ticket_number">
                </div>
    
                <div class="cause">
                    <label for="">Cause :</label>
                    <input type="text" name="cause" [(ngModel)]="article.cause">
                </div>
            </div>
            <br>

            <div class="fourth">
                <div class="resolution">
                    <label for="">Résolution :</label>
                    <textarea type="text" name="resolution" [(ngModel)]="article.resolution"></textarea>
                </div>
                <div class="nothing">

                </div>
            </div>

            <div class="fifth">
                <div class="keywords">
                    <label for="">Mot clés :</label>
                    <input type="text" name="keywords" [(ngModel)]="article.keywords">
                </div>
                <div class="file">
                    <label for="">Pièce jointe</label>
                    <input type="text" name="" id="">
                </div>

            </div>
            
            <div class="submit-btn">
                <button type="submit">Créer</button>
            </div>

        </form>

    </div>
</div>