<div>
    <div>
        <h3>Nouvel article</h3>
    </div>
    <div class="add-form">
 
        <form nz-form class="ant-advanced-search-form" [formGroup]="addArticle" (ngSubmit)="onSubmit()">
            <!-- Row 1 -->
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label>Catégorie</nz-form-label>
                  <nz-form-control>
                    <nz-select formControlName="category">
                        <nz-option *ngFor="let category of categories" [nzValue]="category.id" [nzLabel]="category.title"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label>Titre</nz-form-label>
                    <nz-form-control>
                      <input nz-input formControlName="title"/>
                    </nz-form-control>
                  </nz-form-item>
              </div>
            </div>
            <!-- Row 2 -->
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label>Résumé</nz-form-label>
                        <nz-form-control>
                          <nz-textarea-count [nzMaxCharacterCount]="100">
                            <textarea rows="2" nz-input name="summary" formControlName=""></textarea>
                          </nz-textarea-count>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label>Description</nz-form-label>
                        <nz-form-control>
                          <nz-textarea-count [nzMaxCharacterCount]="100">
                            <textarea rows="2" nz-input formControlName=""></textarea>
                          </nz-textarea-count>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!-- Row 3 -->
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="12">
                  <nz-form-item>
                    <nz-form-label>Environnement</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName=""/>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                  <nz-form-item>
                      <nz-form-label>Message d'erreur</nz-form-label>
                      <nz-form-control>
                        <input nz-input formControlName=""/>
                      </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
              <!-- Row 4 -->
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="12">
                  <nz-form-item>
                    <nz-form-label>Numéro de ticket</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName=""/>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                  <nz-form-item>
                      <nz-form-label>Cause</nz-form-label>
                      <nz-form-control>
                        <input nz-input formControlName=""/>
                      </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!-- Row 5 -->
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="24">
                    <nz-form-item>
                        <nz-form-label>Résolution</nz-form-label>
                        <nz-form-control>
                            <textarea rows="4" nz-input class="resolution" formControlName=""></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!-- Row 6 -->
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="12">
                  <nz-form-item>
                    <nz-form-label>Mots clé</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName=""/>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                  <nz-form-item>
                      <nz-form-label>Contournement de ce problème</nz-form-label>
                      <nz-form-control>
                        <input nz-input formControlName="workaround"/>
                      </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="24"> 
              <div nz-col [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label>Fichier</nz-form-label>
                  <nz-form-control>
                    <button>Parcourir...</button>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="12" class="search-area">
                <button>Créer</button>
              </div>
            </div>
        </form>

    </div>
</div>