<div>
  <div>
      <h3>Nouvel article</h3>
  </div>
  <div class="add-form">

      <form nz-form class="ant-advanced-search-form" [formGroup]="editArticle" (ngSubmit)="onSubmit()">
          <!-- Row 1 -->
          <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="5">Catégorie</nz-form-label>
                <nz-form-control>
                  <nz-select formControlName="category_id">
                      <nz-option *ngFor="let category of categories" [nzValue]="category.id" [nzLabel]="category.title"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
              <nz-form-item>
                  <nz-form-label [nzSpan]="5">Titre</nz-form-label>
                  <nz-form-control>
                    <input nz-input formControlName="title"/>
                  </nz-form-control>
                </nz-form-item>
            </div>
          </div>
          <!-- Row 2 -->
          <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="12">
                  <nz-form-item>
                      <nz-form-label [nzSpan]="5">Résumé</nz-form-label>
                      <nz-form-control>
                        <nz-textarea-count [nzMaxCharacterCount]="100">
                          <textarea rows="2" nz-input formControlName="summary"></textarea>
                        </nz-textarea-count>
                      </nz-form-control>
                  </nz-form-item>
              </div>
              <div nz-col [nzSpan]="12">
                  <nz-form-item>
                      <nz-form-label [nzSpan]="5">Description</nz-form-label>
                      <nz-form-control>
                        <nz-textarea-count [nzMaxCharacterCount]="100">
                          <textarea rows="2" nz-input formControlName="description"></textarea>
                        </nz-textarea-count>
                      </nz-form-control>
                  </nz-form-item>
              </div>
          </div>
          <!-- Row 3 -->
          <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label [nzSpan]="5">Environnement</nz-form-label>
                  <nz-form-control>
                      <input nz-input formControlName="environment"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="5">Message d'erreur</nz-form-label>
                    <nz-form-control>
                      <input nz-input formControlName="error_message"/>
                    </nz-form-control>
                  </nz-form-item>
              </div>
          </div>
            <!-- Row 4 -->
          <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label [nzSpan]="5">Numéro de ticket</nz-form-label>
                  <nz-form-control>
                      <input nz-input formControlName="ticket_number"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="5">Cause</nz-form-label>
                    <nz-form-control>
                      <input nz-input formControlName="cause"/>
                    </nz-form-control>
                  </nz-form-item>
              </div>
          </div>
          <!-- Row 5 -->
          <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="24">
                  <nz-form-item>
                      <nz-form-label>Résolution</nz-form-label>
                      <nz-form-control>
                        <ckeditor formControlName="resolution"></ckeditor>
                    </nz-form-control>
                  </nz-form-item>
              </div>
          </div>
          <!-- Row 6 -->
          <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label>Mots clé</nz-form-label>
                  <nz-form-control>
                      <input nz-input formControlName="keywords"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label>Contournement de ce problème</nz-form-label>
                    <nz-form-control>
                      <input nz-input formControlName="workaround"/>
                    </nz-form-control>
                  </nz-form-item>
              </div>
          </div>
          <div nz-row [nzGutter]="24"> 
            <div nz-col [nzSpan]="24" class="search-area">
              <button>Editer</button>
            </div>
          </div>
      </form>

  </div>
</div>