<div>
    <div class="menu">
        <nz-tabset class="tabs">
            <nz-tab nzTitle="Aperçu">
              Id = {{ project_id }}
              <app-preview [project] = "project_id"></app-preview>
            </nz-tab>
            <nz-tab nzTitle="Base de connaissances">
                <app-articles></app-articles>
              </nz-tab>

            <nz-tab nzTitle="Wiki">
              <app-wiki></app-wiki>
            </nz-tab>

            <nz-tab nzTitle="Configuration">
              <app-configuration></app-configuration>
            </nz-tab>

        </nz-tabset>
    </div>

</div>
