<div>
    <div class="menu">
        <nz-tabset class="tabs">
            <nz-tab nzTitle="Aperçu">
              <app-preview [project]="project"></app-preview>
            </nz-tab>
            <nz-tab nzTitle="Base de connaissances">
                <app-articles [project]="project"></app-articles>
              </nz-tab>

            <nz-tab nzTitle="Wiki">
              <app-wiki [project]="project"></app-wiki>
            </nz-tab>

            <nz-tab nzTitle="Configuration">
              <app-configuration></app-configuration>
            </nz-tab>

        </nz-tabset>
    </div>

</div>
