<div>
    <div class="title-btn">
        <div class="title">
            <h1>{{ category?.title }}</h1>
        </div>

        <div class="filter-btn">
              <div class="filter">
                <nz-form-item>
                    <nz-form-label [nzSpan]="10">Aller à la catégorie</nz-form-label>
                     <nz-form-control>
                        <nz-select  [(ngModel)]="selectedCategory" (ngModelChange)="onSelect()">
                            <nz-option *ngFor="let category of categories" [nzValue]="category.id" [nzLabel]="category.title"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </div>

    <!-- Sous catégories -->
    
        <div *ngIf="category?.children.length!==0" class="sub-categories">
            <h4 class="sub-category-header">Sous catégories :</h4>
            <span *ngFor="let child of category?.children">
                <button class="on-select" (click)="selectChild(child.id)">{{ child.title }} </button>
            </span>
        </div>
    
    <!-- Articles -->
    <div class="articles">
        <table>
            <thead>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Créée le</th>
                <th>Mis à jour le</th>
            </thead>
            <tbody *ngFor="let article of category?.articles">
                <tr>
                    <a [routerLink]="'/show_article/'+article?.id">
                        <td>{{ article.title}}</td>
                    </a>
                    <td>{{ article.author }}</td>
                    <td>{{ article.created_at | date:'medium' }}</td>
                    <td>{{ article.updated_at | date:'medium' }}</td>
                </tr>
            </tbody>
            <tbody *ngIf="category?.articles.length === 0">
                <tr>
                    <td colspan="4">
                        <nz-empty></nz-empty>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>