<div>
    <div class="add-form">
       nom : {{ project?.name }}
        <form *ngIf="projects" nz-form class="ant-advanced-search-form" [formGroup]="editProject" (ngSubmit)="onSubmit()">
            <!-- Row 1 -->
            <div nz-row>
                <div nz-col [nzSpan]="18">
                  <nz-form-item>
                      <nz-form-label>Nom du projet</nz-form-label>
                      <nz-form-control>
                        <input nz-input formControlName="name"/>
                      </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!-- Row 2 -->
            <div nz-row>
                <div nz-col [nzSpan]="18">
                  <nz-form-item>
                      <nz-form-label>Description</nz-form-label>
                      <nz-form-control>
                        <textarea rows="4" nz-input formControlName="description"></textarea>
                      </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!-- Row 3 -->
            <div nz-row>
                <div nz-col [nzSpan]="18">
                  <nz-form-item>
                      <nz-form-label>Site web</nz-form-label>
                      <nz-form-control>
                        <input nz-input formControlName="website"/>
                      </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!-- Row 4 -->
            <div nz-row>
                <div nz-col [nzSpan]="18">
                    <nz-form-item>
                        <nz-form-label>Public</nz-form-label>
                        <nz-form-control>
                          <input type="checkbox" nz-input formControlName="isPublic"/>
                        </nz-form-control>
                      </nz-form-item>
                  </div>
            </div>
            <!-- Row 5 -->
            <div nz-row>
                <div nz-col [nzSpan]="18">
                    <nz-form-item>
                        <nz-form-label>Sous projet de</nz-form-label>
                        <nz-form-control>
                            <select formControlName="project_id">
                                <option *ngFor="let project of projects" [ngValue]="project.id">
                                    {{ project.name }}
                                </option>
                            </select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            
            <div nz-row>
                <div nz-col [nzSpan]="18">
                    <nz-form-item>
                        <nz-form-label>Landing page</nz-form-label>
                        <nz-form-control>
                          <input nz-input formControlName="landing_page"/>
                        </nz-form-control>
                      </nz-form-item>
                  </div>
            </div>

            <div class="submit-btn">
                <button type="submit">Créer</button>
            </div>
           
        </form>

    </div>
</div>
