<div>
    <div class="title-btn">
        <div class="title">
            <h3>Utilisateurs</h3>
        </div>
        <div class="btn">
            <a [routerLink]="'/add_user'"><i nz-icon nzType="plus" nzTheme="outline"></i>Nouvel utilisateur</a>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Rôle</th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td class="user">
                    {{ user.first_name }} {{ user.last_name }}
                </td>
                <td class="role">
                    {{ user.role }}
                </td>
                <td class="action">
                    <a (click)="deleteUser($event)" id="{{ user.id }}" class="delete"><i nz-icon nzType="delete" nzTheme="fill"></i>Supprimer</a>
                    <a [routerLink]="'/edit_user/'+user.id"><i nz-icon nzType="edit" nzTheme="fill"></i>Editer</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
