<div *ngIf="hasConsultStatistics">
    <div class="title">
        <h3>Tableau de bord</h3>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <table>
                <thead>
                    <tr>
                        <th>Utilisateur</th>
                        <th>Pages wiki créées</th>
                        <th>Articles crées</th>
                        <th>Projets crées</th>
                    </tr>
                </thead>
                <tbody *ngFor="let user of users">
                    <tr>
                        <td><b>{{ user.first_name }} {{ user.last_name }}</b></td>
                        <td>{{ user.wikis_length }}</td>
                        <td>{{ user.articles_length }}</td>
                        <td>{{ user.projects_length }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div nz-col [nzSpan]="12">
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let action of actions">
                    <tr>
                        <td>
                            {{ action?.created_at | date:'shortDate' }}
                        </td>


                        <td *ngIf="action?.type === 'CA'">
                                <b>{{ action.user }}</b> a crée l'article <a [routerLink]="'/show_article/'+action.article_id"><b>{{ action.article }}</b></a>
                        </td>
                        <td *ngIf="action?.type == 'CP'"> 
                            <b>{{ action.user }}</b> a crée le projet <a [routerLink]="'/show_project/'+action.project_id"><b>{{ action.project }}</b></a>
                        </td>
                            
                        <td *ngIf="action?.type === 'UA'"> 
                            <b>{{ action.user }}</b> a mis à jour l'article <a [routerLink]="'/show_article/'+action.article_id"><b>{{ action.article }}</b></a>
                        </td>
                        
                        <td *ngIf="action?.type === 'CW'"> 
                            <b>{{ action.user }}</b> a crée la page wiki <b>{{ action.wiki }}</b>
                        </td>
                            
                        <td *ngIf="action?.type === 'UW'"> 
                            <b>{{ action.user }}</b> a mis à jour la page wiki <b>{{ action.wiki }}</b>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>