<div>
    <div class="filter-btn">
        <div class="closed-filter">
            <input type="checkbox">Projets fermés
            <a href="#">Appliquer</a>
        </div>
        <!-- Add button -->
        <div class="btn">
            <a [routerLink]="'/add_project'"><i nz-icon nzType="plus" nzTheme="outline"></i>Nouveau projet</a>
        </div>
    </div>
    <!-- Projects list -->
    <div class="cardBox">
        <!-- Card 1-->
        <div class="card" *ngFor="let project of projects">
            <div>
                <div class="project-name">
                    <a (click)="onSelect(project)">{{ project.name }}</a>
                </div>
                <div class="project-description">
                    {{ project.description }}
                </div>
            </div>
        </div>
    </div>

</div>    
