<div>
    <div class="filter-btn">
        <div class="closed-filter">
            <input type="checkbox">Projets fermés
            <a href="#">Appliquer</a>
        </div>
        <!-- Add button -->
        <div class="btn">
            <a [routerLink]="'/add_project'"><i nz-icon nzType="plus" nzTheme="outline"></i>Nouveau projet</a>
        </div>
    </div>
    <!-- Projects list -->
    <div class="cardBox">
        <!-- Card 1-->
        <div class="card">
            <div>
                <div class="project-name">
                    <a [routerLink]="'/show_project'">Nom du projet</a>
                </div>
                <div class="project-description">
                    Description du projet...
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="card">
            <div>
                <div class="project-name">
                    Nom du projet2
                </div>
                <div class="project-description">
                    Description du projet2...
                </div>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="card">
            <div>
                <div class="project-name">
                    Nom du projet3
                </div>
                <div class="project-description">
                    Description du projet3...
                </div>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="project-name">
                    Nom du projet3
                </div>
                <div class="project-description">
                    Description du projet3...
                </div>
            </div>
        </div>
      
    </div>

</div>    
