<div>
    <div class="summary-filter">
        <div class="summary">
            <h3>Sommaire de la base de connaissance</h3>
            <ul>
                <li>Nombre total des catégories : {{ categories?.length }}</li>
                <li>Nombre total des articles : {{ project?.articles_length }}</li>
                <li>Articles écrits par moi : {{ userArticlesLength }}</li>
            </ul>
        </div>
        <div class="filter-btn">
            
            <div class="filter">
                <nz-form-item>
                    <nz-form-label [nzSpan]="10">Aller à la catégorie</nz-form-label>
                     <nz-form-control>
                        <nz-select  [(ngModel)]="selectedCategory" (ngModelChange)="onSelect()">
                            <nz-option *ngFor="let category of categories" [nzValue]="category.id" [nzLabel]="category.title"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="btn" *ngIf="hasAddArticle || hasAddCategory">
                <a [routerLink]="'/add_article/'+project?.id"><i nz-icon nzType="plus" nzTheme="outline"></i>Créer un article</a>
                 <a [routerLink]="'/add_category/'+project?.id"><i nz-icon nzType="plus" nzTheme="outline"></i>Créer une catégorie</a>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br>
    
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-list nzItemLayout="horizontal" *ngFor="let category of project?.categories">
                <div *ngFor="let article of category.articles">
                    <nz-list-item>
                        <nz-list-item-meta class="article">
                            <nz-list-item-meta-title>
                                <!--<nz-avatar [nzShape]="'square'" [nzSize]="30" [nzSrc]=""></nz-avatar>-->
                                <a [routerLink]="'/show_article/'+article?.id">
                                    {{ article.title }}
                                </a>
                            </nz-list-item-meta-title>
                
                            <nz-list-item-meta-description class="description">
                                <p>
                                    {{ article.description | slice:0:80 }}... 
                                </p>
                                <p>
                                    {{ article.summary |slice:0:80}}...
                                </p>
                                <p>
                                    Mis à jour le : {{ article.updated_at| date:'short' }}
                                </p>
                            </nz-list-item-meta-description>
                    </nz-list-item-meta>
                    </nz-list-item>
                </div>
            </nz-list>
        </div>
       
    </div>
       

</div>