.summary-filter {
    padding-bottom: 18px;
}
.summary-filter .summary {
    float: left;
    padding: 15px 15px;
    border: 1px solid #dadce7;
    border-radius: 3px;
    background-color: #fafbfc;
    color: #212136;
    word-wrap: break-word;
}

h3 {
    font-size: 15px;
}
.filter-btn {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    float: right;
    padding-bottom: 18px;
}


.filter-btn .filter nz-select {
    width: 180px;
}


.filter-btn .btn a {
    
    border-radius: 3px;
    font-size: 14px;
    border-color: transparent;
    background-color: #f0f2f5 ;
    color: #212136;
    padding: 8px 10px 8px 10px;
    float: right;
    margin: 5px;
}

.filter-btn .btn a i {
    padding-right: 5px;
}

.filter-btn .btn a:hover {
    background-color:  #E8E8E8;
}

ul li {
    font-size: 12px;
}

.list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles-list {
    float: left;
    width: 75%;
}

nz-list a {
    position: relative;
    color:  #0039a6;
    font-size: 16px;
}

nz-list a:hover {
    color: #0065ff;
    text-decoration: underline;
}

.categories-list {
    float: right;
    width: 20%;
}

.description p {
    font-size: 12px;
    font-style: italic;
}

.list {
    margin: 10px;
    padding-top: 10px;
}