<div>
    <div class="summary-filter">
        <div class="summary">
            <h3>Sommaire de la base de connaissance</h3>
            <ul>
                <li>Nombre total des catégories : {{ categories?.length }}</li>
                <li>Nombre total des articles : {{ articles?.length }}</li>
                <li>Articles écrits par moi :</li>
            </ul>
        </div>
        <div class="filter-btn">
            
            <div class="filter">
                Aller à la catégorie :
                <select type="text" name="" id="">
                    <option value=""></option>
                    <option *ngFor="let category of categories" (change)="onSelect(category)" value="{{ category.id }}">
                        {{ category.title }}
                    </option>
                </select>
            </div>
            <div class="btn">
                <a [routerLink]="'/add_article'"><i nz-icon nzType="plus" nzTheme="outline"></i>Créer un article</a>
                <a [routerLink]="'/add_category'"><i nz-icon nzType="plus" nzTheme="outline"></i>Créer une catégorie</a>
            </div>
        </div>
    </div>
    <div class="list">
        <div class="articles-list">
            <nz-list nzItemLayout="horizontal" *ngFor="let category of project?.categories">
                <div *ngFor="let article of category.articles">
                    <nz-list-item>
                        <nz-list-item-meta class="article">
                            <nz-list-item-meta-title>
                                <!--<nz-avatar [nzShape]="'square'" [nzSize]="30" [nzSrc]=""></nz-avatar>-->
                                <a [routerLink]="'/show_article/'+article?.id">
                                    {{ article.title }}
                                </a>
                            </nz-list-item-meta-title>
            
                            <nz-list-item-meta-description class="description">
                                <p>
                                    {{ article.description | slice:0:60 }}...
                                </p>
                                <p>
                                    Mis à jour le : {{ article.updated_at| date:'dd/MM/yyyy HH:MM:SS' }}
                                </p>
                            </nz-list-item-meta-description>
                    </nz-list-item-meta>
                    </nz-list-item>
        
                </div>
            </nz-list>
        </div>
        <div class="categories-list">
            <nz-list nzBordered nzSize="small">
                <nz-list-header>
                    Parcourir par catégorie
                </nz-list-header>
                <nz-list-item *ngFor="let category of categories">
                    <a [routerLink]="'/show_category/'+category.id">{{ category.title }}</a>
                </nz-list-item>
              </nz-list>
        </div>
    </div>
</div>