
:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
  
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s,padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 10px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 70px;
  width: 70px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 5px;
  color: #fff;
  font-weight: 600;
  font-size: 19px;
  font-family: system-ui;
  vertical-align: middle;
}

.menu-sidebar ul li {
  font-size: 14px;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-header .icon {
    padding-right: 5px;
    left: 15px;
    top: 4px;
    
}
.app-header label {
  position: relative;
  width: 100%;
}
.app-header input {
  height: 50px;
  width: 130%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  outline: none;
  border: 1px solid rgba(0,0,0,0.2);
}
.app-header .search-icon {
  position: absolute;
    left: 15px;
    top: 2px;
}
.app-header .username { 
  padding-right: 15px;
}

nz-content {
  margin: 24px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}

.login-form-button {
  width: 100%;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  border-color: transparent;
}


.overflow-ng-content {
  overflow: overlay;
}

 .login-form {
  background: #fff;
  padding: 24px;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 230px;
  margin-top: 170px;
  border-radius:2px;
}

.login-logo {
  position: relative;
  overflow: hidden;
  line-height: 64px;
  transition: all .3s;
  text-align: center;
}
.login-logo img {
  display: inline-block;
  height: 150px;
  width: 150px;
  vertical-align: middle;
}


.login-form form {
 
  margin: 0 auto;
  text-align: center;
}

.login-form .message {
  color: red;
}