<div>
    <form nz-form class="ant-advanced-search-form" [formGroup]="editWiki" (ngSubmit)="onSubmit()">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="10">
                <nz-form-item>
                    <nz-form-label nzRequired>Titre</nz-form-label>
                    <nz-form-control nzErrorTip="Veuillez saisir un titre à votre wiki">
                      <input nz-input formControlName="title"/>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="24">
                <nz-form-item>
                    <nz-form-control>
                        <ckeditor formControlName="content"></ckeditor>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
            
        <button nz-button nzType="primary">Editer</button>

    </form>
</div>