.form {
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.login-form {
    max-width: 300px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }


  .login-form-button {
    width: 100%;
    background-color: #0065ff;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    border-color: transparent;
  }

  .login-form-button:hover {
    background-color:   #0065e0;
  }
