<div>
    <h3><a [routerLink]="'/administration'">Utilisateurs</a> / Editer utilisateur</h3>
    <div>
        <form nz-form class="ant-advanced-search-form" [formGroup]="editUser" (ngSubmit)="onSubmit()">
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="17">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10" nzRequired>Prénom</nz-form-label>
                        <nz-form-control nzErrorTip="Veuillez saisir un prénom">
                            <input nz-input formControlName="first_name"/>
                        </nz-form-control>
                      </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="17">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10" nzRequired>Nom</nz-form-label>
                        <nz-form-control nzErrorTip="Veuillez saisir un nom">
                            <input nz-input formControlName="last_name"/>
                        </nz-form-control>
                      </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="17">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10" nzRequired>Adresse e-mail</nz-form-label>
                        <nz-form-control nzErrorTip="Veuillez saisir une adresse e-mail">
                            <input type="email" nz-input formControlName="email"/>
                        </nz-form-control>
                      </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="17">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10" nzRequired>Mot de passe</nz-form-label>
                        <nz-form-control nzErrorTip="Veuillez saisir un mot de passe">
                            <input type="password" nz-input formControlName="password"/>
                        </nz-form-control>
                      </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="17">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10" nzRequired>Rôle</nz-form-label>
                        <nz-form-control nzErrorTip="Veuillez selectionner un rôle">
                            <nz-select formControlName="role_id">
                                <nz-option *ngFor="let role of roles" [nzValue]="role.id" [nzLabel]="role.name"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="17">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10">Landing page</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="landing_page"/>
                        </nz-form-control>
                      </nz-form-item>
                </div>
            </div>
            <div nz-col [nzSpan]="17" class="search-area">
                <button>Editer</button>
            </div>
        </form>
    </div>
</div>