<div>
    <h3><a [routerLink]="'/administration'">Rôles</a> / Nouveau rôle</h3>
    <div>
        <form nz-form class="ant-advanced-search-form" [formGroup]="addRole" (ngSubmit)="onSubmit()">
            
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="7" nzRequired>Nom</nz-form-label>
                        <nz-form-control nzErrorTip="Veuillez saisir un nom">
                            <input nz-input formControlName="name"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="24">
                    <nz-form-item>
                        <nz-form-label>Permissions</nz-form-label>
                        <nz-form-control>
                            <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="getCheckedPermissions($event)">
                                <div nz-row>
                                    <div nz-col nzSpan="8" *ngFor="let permission of permissions">
                                         <label nz-checkbox [nzValue]="permission.id" >{{ permission.name }}</label>
                                    </div>
                                </div>
                              </nz-checkbox-wrapper>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-col [nzSpan]="24" class="search-area">
                <button>Créer</button>
            </div>
        </form>
    </div>
</div>