<div>
    <table>
        <thead>
            <tr>
                <th>
                    Mis à jour le
                </th>
                <th>
                    Mis à jour par
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ article?.updated_at | date:'dd/MM/yyyy HH:MM:SS' }}
                </td>
                <td>
                    {{ article?.author }}
                </td>
            </tr>
        </tbody>
    </table>
</div>