<div>
    <div>
        <h3>Nouveau projet</h3>
    </div>
    <div class="add-form">
       
        <form (ngSubmit)="onSubmit()">
            <div>
                <label for="">Nom du projet :</label>
                <input type="text" name="name" [(ngModel)]="project.name">
            </div>
            
            <div>
                <label for="">Description du projet : </label>
                <textarea name="description" [(ngModel)]="project.description"></textarea>
            </div>
            
            <div>
                <label for="">Site web : </label>
                <input type="text" name="website" [(ngModel)]="project.website">
                
            </div>
           
            <div class="project-isPublic">
                <label for="">Public :</label>
                <input type="checkbox" name="isPublic" [(ngModel)]="project.isPublic">
            </div>
            
            <div>
                <label for="">Sous projet de :</label>
                <select  name="project" [(ngModel)]="selectedProject" (change)="selected()">
                    <option *ngFor="let project of projects" [ngValue]="project.id">
                        {{ project.name }}
                    </option>
                </select>
            </div>
            
            <div>
                <label for="">Landing page :</label>
                <input type="text" name="landing_page" [(ngModel)]="project.landing_page">
            </div>

            <div class="submit-btn">
                <button type="submit">Créer</button>
            </div>
           
        </form>

    </div>
</div>
